.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1.7rem;
  row-gap: 4rem;
}

@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.5rem;
    row-gap: 3rem;
  }
}

@media (max-width: 766px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.button {
  margin-top: 5.2rem;
  color: #fff;
  background-color: #333;
  border: 1px solid #fff;
  padding: 1.4rem 3rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1;
  border-radius: 0.6rem;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  background-color: #40b884;
  border: 1px solid #fff;
}

.btnContainer {
  display: flex;
  justify-content: center;
}
