.section {
  position: absolute;
  top: 25%;
  z-index: 2;
}

.first {
  right: 12%;
}

.second {
  left: 7%;
}

.swiper {
  max-width: 130rem;
  height: 100vh;
  position: relative;
  --swiper-navigation-size: "25px";
}

.slide1 {
  width: 600px;
}

.slide2 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.primary {
  margin-bottom: 1.5rem;
  font-weight: 700;
  color: #111;
  line-height: 1.2;
  font-size: 7.4rem; /* Set final font size */
}

.secondary {
  color: #111;
  font-size: 1.4rem;
  line-height: 1.2rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.description {
  color: #111;
  font-size: 2rem;
  line-height: 1.2rem;
  font-weight: 400;
  margin-bottom: 3.5rem;
}

.button {
  padding: 1.6rem 4rem;
  display: inline-block;
  line-height: 1rem;
  color: #fff;
  background-color: #333;
  text-transform: uppercase;
  border-radius: 6px;
  border: 1px solid #111;
  text-align: center;
  outline: none;
  font-size: 1.5rem; /* Set final font size */
  transition: background-color 0.3s ease; /* Smooth hover transition */
}

.button:hover {
  background-color: #3b935d;
}

.margin_right {
  margin-right: 1.5rem;
}

:global(.swiper-button-next),
:global(.swiper-button-prev) {
  color: #111;
  font-weight: 400;
  background-color: white;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 42%;
  transform: translateY(-42%);
  box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.1);
  z-index: 10;
  transition: background-color 0.3s ease;
}

:global(.swiper-button-prev) {
  left: 25px;
}

:global(.swiper-button-next) {
  right: 20px;
}

:global(.swiper-button-next:hover),
:global(.swiper-button-prev:hover) {
  background-color: #bd8448 !important; /* Ensure hover applies */
}

:global(.swiper-slide) {
  transition: opacity 0.5s; /* Smooth fade transition */
}
