

.brand{
    padding: 0 0 30px ;
    display: flex;
    justify-content: center;
 

    .background{
        width: 154px;
        height:75px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #eee;
   


.brandimg{
 width: 100%;
}
 }
}
