.img {
  /* width: 25rem; */
  width: 100%;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}

.img_box {
  border-radius: 100%;

  overflow: hidden;
  margin-bottom: 2rem;
}

.categoryName {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  color: #000;
  line-height: 1.2;
  letter-spacing: 0.02rem;
  text-transform: capitalize;
}

.link:hover img {
  transform: scale(1.1);
}
