.container {
  max-width: 105rem;
  padding: 0 2rem;
  margin: 0 auto;
}

.cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem 0;

  .header {
    font-size: 2.5rem;
    letter-spacing: 0.02rem;
    margin-bottom: 3rem;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.6;
    word-wrap: break-word;
    color: #111;
    margin: 0 0 3rem;
    text-align: center;
  }
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  border-top: 1px solid #f5f5f5;
}

.img {
  width: 11rem;
}
.image {
  width: 100%;
  height: auto;
}

.detail {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.quantityBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #eee;
}
.btn {
  border: none;
  outline: none;
  padding: 1rem 1.5rem;
  background-color: #fff;
  font-size: 1.5rem;
  width: 4rem;
  height: 3.8rem;
}

.quantity {
  padding: 1rem 2rem;
  width: 4rem;
  height: 3.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 1.4rem;
  text-transform: capitalize;
  color: #000;
  line-height: 1.6;
}

.size {
  padding: 5px 0;
  font-size: 1.2rem;
  font-style: italic;
  color: #333;
  line-height: 1.6;
}

.price {
  font-size: 1.4rem;
  color: #333;
  line-height: 1.2;
}

.total {
  display: grid;
  grid-template-columns: 1.5fr 1fr;

  gap: 2rem;
  margin-top: 2rem;
}

.tprice {
  padding: 2.5rem;
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 2rem;
}

.tprice p {
  font-weight: 500;
  text-transform: uppercase;
  color: #333;
  font-size: 1.4rem;
  line-height: 1.6;
  letter-spacing: 0.02rem;
}

.add {
  padding: 1.2rem 2.5rem;
  color: #fff;
  background-color: #ffa69e;
  border: 1px solid #ffa69e;
  font-size: 1.3rem;
  font-weight: 400;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
}

.btn {
  width: 100%;
  margin: 0 0 1rem;
  min-height: 4.4rem;
  padding: 1.4rem 3rem;
  font-size: 1.3rem;
  font-weight: 400;
  color: #fff;
  background-color: #86bbbf;
  border: 1px solid #86bbbf;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
}

.totals {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #333;
  line-height: 1.6;
  margin-bottom: 0.5rem;
}

.total form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 1.5rem 0 2rem;
  color: #333;
  font-size: 1.4rem;
  line-height: 1.6;
  letter-spacing: 0.02rem;
}

.coupon {
  text-transform: uppercase;
  font-weight: 500;
}

.label {
  cursor: pointer;
  opacity: 0.7;
}

form input {
  flex: 1;
  width: 100%;
  padding: 1rem 1.8rem;
  border: 1px solid #eee;
  background-color: #fff;
  color: #000;
  font-size: 1.4rem;
  line-height: 2rem;
  outline: 0;
}

.tax {
  color: #333;
  font-size: 1.4rem;
  line-height: 1.6;
  letter-spacing: 0.02rem;
}

.tax a {
  color: #000;
  transition: all 0.3s ease-in-out;
}

.tax a:hover {
  color: #ec9090;
}

.totalTax {
  margin-bottom: 2rem;
}

.check {
  padding: 2.5rem;
  background-color: #f5f5f5;
}

.text label {
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 1.5rem;
  letter-spacing: 0.02rem;
  color: #333;
  font-size: 1.4rem;
  line-height: 1.6;
}

.text textarea {
  margin-bottom: 2rem;
  width: 100%;
  overflow: auto;
  min-height: 10rem;
  resize: none;
  padding: 1rem 1.8rem;
  border: 1px solid #eee;
  background-color: #fff;
  color: #000;
  font-size: 1.4rem;
  line-height: 2rem;
  outline: none;
}
