.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text p {
  margin: 0 0 2.4rem 0;
  font-size: 1.4rem;
  line-height: 1.6;
  letter-spacing: 0.02rem;
  color: #333;
}

.text .login {
  margin: 2.5rem 0;
}

.link {
  text-decoration: underline;
  color: #333;
}

.btn {
  padding: 1.2rem 2.5rem;
  margin: 3rem 0 5rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1;
  color: #fff;
  background-color: #333;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0);
  text-transform: uppercase;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  white-space: normal;
  letter-spacing: 0.02;

  &:hover {
    color: #fff;
    background-color: #40b884;
    border: 1px solid rgba(0, 0, 0, 0);
  }
}

.text h5 {
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.02;
  line-height: 1.6;
}
