.wrapper {
  padding: 5rem 0 5rem;
}

.header {
  text-align: center;
  padding-bottom: 3.5rem;
  letter-spacing: 0.2px;
}

.heading {
  color: #111;
  font-weight: 500;
  line-height: 1.4;
  font-size: 2.6rem;
  font-family: "Domine";
}

.subheading {
  font-size: 1.5rem;
  margin-top: 0.5rem;
}
