.footer {
  padding: 3rem 0 2rem;
  background-color: #f5f5f5;
}

.footerGap {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.grid {
  display: flex;
  flex-direction: column;
}

.logoCol {
  display: flex;
  flex-direction: column;
}

.logo {
  display: block;
  margin-bottom: 1rem;
}

.socialLinks {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.footerLink {
  text-decoration: none;
  font-size: 1.3rem;
  line-height: 1.6;
  color: #000;
  letter-spacing: 0.02rem;
  border: none;
  transition: all 0.3s ease-in-out;
  border-bottom: 1px solid transparent;
}

.accordion {
  border-bottom: 1px solid #ddd;
}

.accordion .footerLink:hover {
  color: #40b884;
  border-bottom: 1px solid #40b884;
}

.socialLinks .footerLink:hover {
  color: #40b884;
}

.socialIcon {
  height: 1.3rem;
  width: 1.3rem;
  transition: all 0.3s ease-in-out;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 0;
  font-size: 1.4rem;
  line-height: 1.6;
  letter-spacing: 0.02rem;
  color: #000;
  font-weight: 500;
  cursor: pointer;
}

.footerNav {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.6s ease-in-out;
}

.footerNav.open {
  max-height: 30rem;
}

.text {
  font-size: 1.3rem;
  line-height: 1.6;
  letter-spacing: 0.02rem;
  margin-bottom: 1rem;
  color: #000;
}

.email {
  font-size: 1.3rem;
  line-height: 1.6;
  letter-spacing: 0.02rem;
  margin-bottom: 2.5rem;
}

.form {
  max-width: 40rem;
  display: flex;
}

.input {
  padding: 1rem 1.8rem;
  background-color: #fff;
  color: #000;
  border-radius: 0.6rem 0 0 0.6rem;
  border: none;
  font-size: 1.3rem;
  line-height: 1.6rem;
  outline: none;
}

.btn {
  border-radius: 0 0.6rem 0.6rem 0;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 1.2rem 2.4rem;
  line-height: 1;
  text-transform: uppercase;
  color: #fff;
  background-color: #333;
  border: 0;
  overflow: visible;
}

.footerGrid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.copyright {
  color: #000;
  font-size: 1.3rem;
  line-height: 1.6;
  letter-spacing: 0.02rem;
}

.paymentIcon {
  display: flex;
  justify-content: center;
  gap: 0.6rem;
}
