.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
  line-height: 1.6;
}

.nav li {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.nav a {
  text-transform: capitalize;
  text-decoration: none;
  color: #111;
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 0.026rem;
}

.nav li:first-child a {
  font-weight: 400;
}

.icon {
  font-size: 1.2rem;
  color: #111;
}
