.checkboxGroup {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.checkboxLabel {
  font-weight: 500;
  font-size: 1.6rem;
  color: #000;
  letter-spacing: 0.026rem;
  line-height: 1.6;
  display: block;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #f5f5f5;
  margin-bottom: 2rem;
}

.checkboxItem {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.checkboxItem span {
  text-transform: capitalize;
  font-size: 1.3rem;
}

.brands {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-content: center;
  column-gap: 2rem;
  row-gap: 1.5rem;
}

.noOptions {
  font-style: italic;
  color: #888;
}

.hiddenCheckbox {
  display: none;
}

input[type="checkbox"]:checked {
  accent-color: #444;
}

input[type="checkbox"] {
  width: 1.5rem;
  height: 1.5rem;
  /* accent-color: #444; ✅ Make checkmark black */
  transform: scale(1.3); /* ✅ Resize checkbox */
  cursor: pointer;
}
