.modalOverlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 999;
}

.modal {
  background-color: #fff;
  /* width: 40%; */
  max-width: 30rem;
  max-height: 100vh;
  padding: 2rem;
  overflow-y: auto;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  animation: modal 0.6s ease;
  position: relative;
}

@keyframes modal {
  from {
    transform: translateX(-70%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 3rem;
  cursor: pointer;
  padding: 2rem;
}
