.priceFilter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.priceLabel {
  font-weight: 500;
  font-size: 1.6rem;
  color: #000;
  letter-spacing: 0.026rem;
  line-height: 1.6;
  display: block;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #f5f5f5;
  margin-bottom: 2rem;
}

.dash {
  font-size: 1.6rem;
  color: #555;
}

.priceInput {
  border: none;
  outline: none;
  width: 6rem;
  font-size: 1.4rem;
  color: #333;
  background: transparent;
}

.priceInput::placeholder {
  color: #999;
}
