.linkImg {
  display: block;
  border-radius: 1.5rem;
  overflow: hidden;
  aspect-ratio: 3 / 4;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.product {
  position: relative;
  display: flex;
  flex-direction: column;
}

.product:hover .imgIcon {
  bottom: 17%;

  opacity: 1;
}

.text {
  text-align: center;
  letter-spacing: 0.026rem;
  margin-top: 1.5rem;
}

.title {
  font-size: 1.4rem;
  text-transform: capitalize;
  margin-bottom: 1rem;
  font-weight: 500;
  color: #333;
}

.price {
  font-size: 1.5rem;
  color: #d8000c;
  display: inline-block;
}

.imgIcon {
  position: absolute;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  align-items: center;
  z-index: 3;
  bottom: 22%;
  left: 19%;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.imgIcon button {
  border: none;
  outline: none;
  padding: 1.5rem;
  background-color: #fff;
  color: #000;
  border-radius: 50%;
  font-size: 1.5rem;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgIcon button:hover {
  background-color: #000;
  color: #fff;
}
