.filterList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.btn {
  border: none;
  background-color: transparent;
  padding: 0.5rem 0;
  color: #000;
  font-size: 1.3rem;
  outline: none;
  letter-spacing: 0.026rem;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
}

.active {
  color: #40b884;
}
