.shop {
  padding: 5rem 0 5rem;
}

.shopGrid {
  display: grid;
  grid-template-columns: 1fr 4fr;
  justify-content: center;
  gap: 3rem;
}

@media (max-width: 1024px) {
  .shopGrid {
    grid-template-columns: 1fr;
  }
}
