.spinner {
  margin: 2rem auto;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top: 3px solid #3498db;
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
