.delivery span {
  color: #333;
  font-size: 1.3rem;
  line-height: 1.6;
}

.deliveryHighlight {
  height: 7px;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
  background-color: #eee;
  margin-top: 1rem;
}

.deliveryHighlight span {
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  box-shadow: 0 0 5px #000;
  background-color: #62c99c;
  background-size: 1rem 1rem;
  background-image: linear-gradient(
    135deg,
    #40b884 0 25%,
    #0000 25% 50%,
    #40b884 50% 75%,
    #0000 75% 100%
  );
  animation: 5s linear infinite progress;
}

@keyframes progress {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -60px -60px;
  }
}
