.quantityBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #eee;
}

.btn {
  border: none;
  outline: none;
  padding: 1rem 1.5rem;
  background-color: #fff;
  font-size: 1.5rem;
  width: 4rem;
  height: 3.8rem;
}

.right {
  border-right: 1px solid #eee;
}

.left {
  border-left: 1px solid #eee;
}

.quantity {
  padding: 1rem 2rem;
  width: 6rem;
  height: 3.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
