.sizeSelector {
  /* width: 40%; */
  display: flex;
  align-items: center;

  gap: 1.2rem;
  margin-bottom: 2.5rem;
}
.sizeBtn {
  color: #333;
  width: 4.5rem;
  height: 4rem;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #000;
  text-transform: uppercase;
}

.active {
  background-color: #333;
  color: #fff;
  border: 1px solid #333;
}
