.tabs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
  cursor: pointer;
}

.tabs li {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.6;
  color: #333;
  padding: 2rem 0;
  border-bottom: 2px solid #fff;
}

li.active {
  border-bottom: 2px solid #333;
}

.container {
  padding: 3rem 0;
}
