.wishlist {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1.7rem;
  row-gap: 3rem;
}

.h1 {
  font-size: 2.5rem;
  margin: 0 0 3rem;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.6;
  letter-spacing: 0.02rem;
  word-wrap: break-word;
  color: #111;
}

.wishlistCon {
  padding: 3rem 0;
}
