.orderColor {
  background-color: #1f1f1f;
  padding: 2.5rem 0;
}

.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 6rem;
}
.item {
  display: flex;
  justify-content: flex-start;
  gap: 1.5rem;
}

.title {
  font-size: 1.3rem;
  font-weight: 500;
  color: #fff;
  letter-spacing: 0.026rem;
  display: block;
}

.subtitle {
  font-size: 1.4rem;
  font-weight: 500;
  color: #fff;
  letter-spacing: 0.026rem;
  line-height: 1.4;
  display: block;
  margin-top: 1rem;
}

/* 
    .title {
      display: flex;
      flex-direction: column;
      justify-content: center;

      span:nth-child(1) {
        font-size: 13px;
        font-weight: 500;
        color: $font-color;
      }

      span:nth-child(2) {
        font-size: 14px;
        font-weight: 500;
        color: $font-color;
      } */
