.orderColor {
  background-color: #1f1f1f;
  padding: 4rem 0;
}

.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 6rem;
  row-gap: 6rem;
}
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.title {
  font-size: 1.3rem;
  font-weight: 600;
  color: #fff;
  letter-spacing: 0.026rem;
  display: block;
  text-align: center;
  line-height: 1.6;
}

.subtitle {
  font-size: 1.4rem;
  font-weight: 500;
  color: #fff;
  letter-spacing: 0.026rem;
  line-height: 1.6;
  text-align: center;
  display: block;
}

@media (max-width: 1024px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 3rem;
  }
}

@media (max-width: 766px) {
  .subtitle {
    font-size: 1.2rem;
  }
  .list {
    column-gap: 2rem;
  }
}
