.wishlist-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-end; /* Align modal to the right side */
  align-items: center;
  overflow: auto; /* Add scrollability */
  z-index: 999; /* Ensure it's above other content */
}

.wishlist-modal-content {
  width: 40rem; /* Set width to 400px */
  background-color: white;
  padding: 0 2rem 3rem;
  border-radius: 8px;
  box-shadow: -2px 0 4px rgba(0, 0, 0, 0.1); /* Add shadow on the right side */
  max-width: 80%;
  overflow-y: auto; /* Enable vertical scrolling */
  max-height: 80vh; /* Limit height to ensure scrollability */

  display: flex;
  flex-direction: column; /* Arrange content in a column */
  position: relative;
}

.modalClose {
  position: absolute;
  padding: 0 1rem;
  top: 0;
  right: 0;
  cursor: pointer;
  font-size: 4rem;
  z-index: 3;
}

.wishlist-product-info {
  display: flex;
  gap: 1.5rem;
  padding: 1.5rem 0;
}

.wishlist-product-info img {
  width: 10rem;
}

.wishlist-details {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
}

h4 {
  color: #000;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 2rem 0;
  background-color: #fff;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
}

.wishlist-details h3 {
  font-size: 1.4rem;
  color: #000;
  font-weight: 400;
  text-transform: capitalize;
}

.wishlist-details span {
  font-size: 1.5rem;
  font-weight: 400;
  color: #000;
}

.wishlist_remove {
  font-size: 2.5rem;
  color: #86bbbf;
}

.wishlist_close_btn {
  padding: 1.4rem 3rem;
  border: 1px solid #86bbbf;
  cursor: pointer;
  font-size: 1.3rem;
  color: #fff;
  background-color: #86bbbf;
  border-radius: 0;
  font-weight: 400;
  text-transform: uppercase;
  outline: none;
}
