.quick-view-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 1000; /* Ensure it appears on top of other content */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.quick-view-modal-content {
  background-color: #fff; /* White background for the modal */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Drop shadow effect */
  height: 60rem;
  width: 95rem; /* Set a width to prevent overflow on smaller screens */
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 25px;
  position: relative; /* Ensure position for the close button */
}

.quick-view-close {
  position: absolute;
  padding: 0 2rem;
  top: 0;
  right: 0;
  cursor: pointer;
  font-size: 4rem;
  background-color: black;
  color: white;
}

.quickview {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
