.blogImg {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  cursor: pointer;
}

/* .blog {
  height: 20rem; /* or whatever fits your design */
/* overflow: hidden;
  border-radius: 1rem;
} */
.blogTitle {
  color: #000;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.018rem;
  text-align: center;
  cursor: pointer;
  line-height: 1.6rem;
}

.blog div {
  background-color: #fff;
  padding: 2.5rem 0;
}
