.blogImg {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  cursor: pointer;
}

.blog {
  width: 100%;
}

.blogTitle {
  color: #000;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.018rem;
  text-align: center;
  cursor: pointer;
  line-height: 1.6rem;
}

.blog div {
  background-color: #fff;
  padding: 2.5rem 0;
}
